<head>
<br>
<header><div class="text-center"><button type="submit" class="btn btn-warning"><h2>Videos Etología</h2></button></div></header>
</head>

<div class="container">
<br>
<div class="row-fluid well text-center">
<form class="form-inline" method="GET" action="videos/ver">
  <input type="text" name="fecha" class="datepicker" placeholder="Fecha" required>
  <select name="camara" required>
  	<option value="-1">Seleccionar...</option>
  	<option value="1">Cámara 1</option>
  	<option value="2">Cámara 2</option>
  	<option value="3">Cámara 3</option>
  	<option value="4">Cámara 4</option>
  </select>
  <button type="submit" class="btn btn-warning"><h8>Enviar</h8></button>
</form>
</div>
</div>

<DIV ALIGN=center><img class="img-circle" src="http://4.bp.blogspot.com/_hc6_m5h-jGA/SYr_w_a87OI/AAAAAAAABgo/-NDRb-8P_-I/s400/pollo.jpg" data-src="holder.js/140x140" alt="140x140" style="width: 180px; height: 180px;"/></DIV>

